parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Domain\\Energy\\Models\\Inverter\:\:\$time\.$#'
			identifier: property.notFound
			count: 1
			path: app/Domain/Energy/Repositories/EloquentInverterRepository.php

		-
			message: '#^Access to an undefined property App\\Domain\\Energy\\Models\\Inverter\:\:\$value\.$#'
			identifier: property.notFound
			count: 1
			path: app/Domain/Energy/Repositories/EloquentInverterRepository.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with float will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 1
			path: tests/Feature/Application/Queries/EnergyCostBreakdownByDayQueryTest.php
