includes:
    - phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - tests
    excludePaths:
        analyseAndScan:
            - vendor
            - storage
            - bootstrap/cache
            - node_modules (?)

    # Laravel specific configuration
    noUnnecessaryCollectionCall: true
    checkModelProperties: true
    checkPhpDocMissingReturn: true

    # Ignore errors from Laravel magic methods
    ignoreErrors:
#        - '#Call to an undefined method [a-zA-Z0-9\\_]+::newQuery\(\)#'
#        - '#Call to an undefined method [a-zA-Z0-9\\_]+::query\(\)#'
#        - '#Access to an undefined property [a-zA-Z0-9\\_]+\\:\\:\$[a-zA-Z0-9_]+\\.$#'
