includes:
    - phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - tests
    excludePaths:
        analyseAndScan:
            - vendor
            - storage
            - bootstrap/cache
            - node_modules (?)

    # Laravel specific configuration
    noUnnecessaryCollectionCall: true
    checkModelProperties: true
    checkPhpDocMissingReturn: true

    # Ignore errors from Laravel magic methods
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Testing\\TestResponse::(assertCanSeeTableRecords|fillForm|assertFormSet|assertSet|assertNotified|assertSuccessful|assertHasNoErrors|assertVisible|assertTableActionVisible|assertTableActionHidden|assertCanNotSeeTableRecords|assertTableColumnExists|assertTableColumnStateSet|assertCount|assertSet|assertSee|assertDispatched|assertStatus)\(\)#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::(once|twice|times|with|andReturn|andThrow|atLeast|atMost|never|shouldReceive|shouldNotReceive|zeroOrMoreTimes|andReturnSelf|byDefault|andReturnNull)\(\)#'
